* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: -webkit-linear-gradient(90deg, #0700b8 0%, #00ff88 100%); */
    background-color: rgb(16, 169, 183);
   

}

.container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    right: 20rem;
    height: 30rem;
    width: 60rem;
    border-radius: 10px;
    background-image: url("weather2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 8px 10px rgb(94, 4, 124);

}

.search {
    align-self: flex-end;
    height: 30rem;
    width: 20rem;
    border: 1px solid;
    background: black;
    opacity: .7;
    display: flex;
    border-radius: 0px 10px 10px 0px;


}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 70%;
    /* border: 1px solid; */
    height: 9rem;
    width: 40rem;
    border-radius: 0px 0px 0px 10px;

}

.searchdiv {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 20rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
}

.temp {
    color: azure;
    font-size: 50px;
}

.city {
    color: rgb(222, 225, 51);
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 15%;
    background-color: black;
    width: 25rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    opacity: .5;
    border-radius: 10px;
    box-shadow: 6px 8px 10px rgb(192, 14, 14);

    /* align-self: center;
    background-color: black;
    align-self: self-end; */
}

.time {
    font-size: small;

}

.humid {
    color: azure;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#search {
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(233, 214, 214);
    background: white;
    opacity: .5;
}

#searchbtn {
    height: 2.5rem;
    width: 4rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(40, 33, 217);
    border: 2px solid rgb(228, 39, 39);
}

.popular {
    /* background-color: aliceblue; */
    align-self: flex-end;
    height: 23rem;
    width: 20rem;
}

h3 {
    text-decoration: overline;
    color: aliceblue;
}
